.calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar .day {
  width: 200px;
}

.calendar .date {
  display: table;
  border-collapse: collapse;
}
.calendar .date span {
  margin-left: 8px;
  display: inline-block;
  width: 200px;
  height: 150px;
  border-top: 1px solid black;
}

.calendar p {
  width: 200px;
}
