@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'NanumSquareLight', 'NanumSquare', 'NanumSquareBold',
    'NanumSquareExtraBold', 'NanumSquareAcb', 'NanumSquareAceb',
    'NanumSquareAcl', 'NanumSquareAcr';
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  background: #c9caca; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}
